body {
  background-color: black  ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html {
  height: 100%;
}

.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.box {
background-color: white;
aspect-ratio: 1/1;
}

@keyframes loading {
  
}