body {
  background-color: black  ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html {
  height: 100%;
}

.panoramic {
  height: 500px;
  width: 100%;
  background-image: url(Caltech_Entrance\ 1.png);
  background-size: 180%, 180%;
  background-position: bottom left;
  background-repeat: no-repeat;
}